

body {
	margin: 0;
	@include font;
	font-size: 17px;
	line-height: 24px;
	color: $grey-dark;
}

h1, h2, h3, h4, h5, h6 {
	@include font;
	line-height: 1.2em;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.9em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.1em;
}

p {
	padding: 8px 0;
}

strong, b {
	font-weight: bold;
}

em {
	font-style: italic;
}

em strong, strong em, b em, em b {
	font-weight: bold;
	font-style: italic;
}

a {
	color: darken( $teal, 20% );

	&:hover {
		color: $teal;
		text-decoration: underline;
	}
}

.btn {
	@include font;
	background-color: $green;
	color: white;
	opacity: 1;
	border: 0;
	padding: 10px 20px 13px;
	font-size: 22px;
	line-height: 22px;
	text-transform: uppercase;
	transition: opacity 400ms ease-in-out;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	text-align: center;

	&.yellow {
		background-color: $orange;
		color: black;

		&:hover {
			color: black;
		}
	}

	&.navy {
		background-color: $navy;
	}

	&.teal {
		background-color: $teal;
	}

	&.grey {
		background-color: $grey;
	}

	&:hover {
		opacity: .8;
		text-decoration: none;
		color: white;
	}
}



.content-style {
	ol, ul {
		padding: 5px 0 5px 35px;

		li {
			padding: 3px 0;
		}

		&.gform_fields {
			padding: 5px 0;
		}
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	h1, h2, h3, h4, h5, h6 {
		padding: 10px 0 5px;
	}

	blockquote {
		padding: 10px 25px;
		@include font;
		font-style: italic;
		font-size: 1.2em;
		line-height: 1.5em;
		color: $grey;
		border-left: 3px solid lighten( $grey, 25% );
		margin: 10px 0 10px 20px;
	}

	hr {
		border: 0;
		border-bottom: 1px solid lighten( $grey, 25% );
		padding: 0;
		margin: 25px 0;
	}
}
