

.wrap {
	max-width: 1220px;
	margin: 0 auto;
}

.content {
	h1, h2, h3, h4, h5, h6 {
		padding: 6px 0;
	}
}

.content-narrow {
	padding: 40px 20px;
	max-width: 900px;
	margin: 0 auto;
	@extend .content-style;
}

.content-wide {
	@include clearfix;
	@extend .content-style;
	padding: 40px 20px;

	@include respond-to( 1024px ) {
		padding: 40px;
	}
	
	&.home iframe:first-child {
		@include respond-to( 840px ) {
			float: right;
			margin: 20px 0 20px 5%;
		}
	}
}


.fluid-width-video-wrapper {
	margin: 15px 0;
}


.quarter, .third, .half, .two-third, .three-quarter {
	padding: 20px;
}

@include respond-to( 768px ) {
	.quarter, .third, .half, .two-third, .three-quarter {
		float: left;
	}

	.quarter {
		width: 23%;
		margin: 0 1%;
	}

	.third {
		width: 31%;
		margin: 0 1%;
	}

	.two-third {
		width: 65%;
		margin: 0 1%;
	}

	.three-quarter {
		width: 73%;
		margin: 0 1%;
	}
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

table {
	width: 100%;

	tr {
		td {
			vertical-align: top;
			padding: 6px 10px;
		}
	}
}
