

footer {
	border-top: 10px solid rgba( $grey, .4 );
	background: rgba( $grey, .6 );
	color: white;
	@include clearfix;
	padding-bottom: 40px;

	h3 {
		@include font-bold;
		text-transform: uppercase;
		font-size: 1.4em;
		line-height: 1.2em;
		padding-top: 20px;
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: white;
		}
	}

	nav {
		a {
			display: block;
			padding: 3px;
		}

		ul.sub-menu {
			display: none;
		}
	}

	.social {
		padding: 15px 0 10px;
		@include clearfix;
		
		a {
			img {
				border: 1px solid rgba( white, .7 );
				transition: filter 400ms ease-in-out, -webkit-filter 400ms ease-in-out;
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
			}

			&:hover img {
				filter: none;
				-webkit-filter: none;
			}
		}

		img {
			float: left;
			max-width: 23%;
			margin: 0 1%;
		}
	}

	.third {
		@include respond-to( 768px ) {
			position: relative;
			padding-top: 30px;

			&:after {
				content: "";
				position: absolute;
				right: 0;
				bottom: 30px;
				top: 30px;
				width: 1px;
				background: white;
			}
		}
	}

	.two-third {
		.column {
			padding: 0;

			@include respond-to( 768px ) {
				width: 50%;
				float: left;
				padding: 20px 20px 20px 0;
			}
		}
	}

	.nwcua-logo {
		max-width: 250px;
	}
}

