

header {
	background: lighten( $grey, 10% );
	padding-top: 5px;
	position: relative;
	z-index: 1000;

	.wrap {
		position: relative;

		@include respond-to( 768px ) {
			padding: 0 20px;
		}
	}

	@include respond-to( $menu-bp ) {
		padding-top: 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 100px;
		background: rgba( $grey, .7 );
		transition: background 1s ease-in-out;

		&.scrolled {
			background: rgba( $grey, .95 );
		}
	}

	.admin-bar & {
		@include respond-to( $menu-bp ) {
			top: 32px;
		}
	}

	.logo {
		text-align: center;

		@include respond-to( $menu-bp ) {
			position: absolute;
			top: 10px;
			left: 10px;
			right: 80%;
		}

		@include respond-to( $menu-bp-large ) {
			right: 81%;
			left: 20px;
		}
	}

	.menu {
		@include clearfix;
		position: relative;

		@include respond-to( $menu-bp ) {
			position: absolute;
			left: 22%;
			right: 20%;
			top: 0;
		}

		@include respond-to( $menu-bp-large ) {
			right: 175px;
		}

		button {
			position: absolute;
			right: 5px;
			top: -80px;
			width: 40px;
			height: 40px;
			border: 0;
			padding: 0;
			background: white;
			color: black;
			background: url(../img/icon-menu.png) center center no-repeat;

			@include respond-to( $menu-bp ) {
				display: none;
			}
		}

		ul.nav-menu {
			display: none;
			position: relative;
			z-index: 1000;
			text-align: center;
			
			@include respond-to( $menu-bp ) {
				display: block;
				@include clearfix;
				padding-left: 7px;
			}

			li {
				@include respond-to( $menu-bp ) {
					position: relative;
					display: inline-block;
				}

				a {
					display: block;
					@include font-medium;
					background: rgba( white, 0 );
					padding: 15px 5px;
					font-size: 16px;
					line-height: 20px;
					color: white;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;

					@include respond-to( $menu-bp ) {
						display: inline-block;
						padding: 40px 10px;
					}

					@include respond-to( $menu-bp-large ) {
						padding: 40px 20px;
					}
				}

				&:hover, &.open {
					a {
						background: rgba( white, .2 );
						transition: background 400ms ease-in-out;
					}

					ul.sub-menu {
						@include respond-to( $menu-bp ) {
							display: block;
						}
					}
				}

				ul.sub-menu {
					display: none;
					margin-bottom: 3px;
					background: $navy;
					color: white;

					@include respond-to( $menu-bp ) {
						position: absolute;
						left: 0;
						top: 100px;
						width: 250px;
						@include clearfix;
						text-align: left;
					}

					li {
						box-shadow: inset 0px 5px 12px -10px rgba( white, .2 );
						display: block;

						a {
							padding: 8px 5px;
							font-size: .9em;
							display: block;
							background: none;

							@include respond-to( $menu-bp ) {
								text-align: left;
								padding: 12px 15px;

								&:hover {
									background: lighten( $navy, 10% );
								}
							}
						}

						&:hover, &.open {
							ul.sub-menu {
								display: block;
							}
						}
						
						ul.sub-menu {
							display: none;

							@include respond-to( $menu-bp ) {
								position: absolute;
								left: 250px;
								top: 0;
								width: 250px;
								background: $navy;
								@include clearfix;
								text-align: left;
							}
						}

					}
				}
			}
		}
	}

	.buttons {
		min-height: 30px;

		@include respond-to( $menu-bp ) {
			position: absolute;
			top: 0;
			right: 0;
			left: 80%;
			text-align: center;
			padding: 32px 0;
		}

		@include respond-to( $menu-bp-large ) {
			left: auto;
			right: 20px;
			width: 150px;
		}

		a {
			display: block;
			padding: 12px 0;
			transition: background 400ms ease-in-out;
			background: $orange;
			color: black;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 16px;
			line-height: 20px;
			@include font-bold;
			text-align: center;

			&:hover {
				background: lighten( $orange, 4% );
			}

			@include respond-to( $menu-bp ) {
				display: inline-block;
				padding: 6px 30px;
			}
		}
	}
}

