

$menu-bp: 1024px;

header {
	padding-top: 30px;

	.logo {
		margin-right: 60px;
		padding: 0 0 10px 20px;
		max-width: 450px;

		@include respond-to( 768px ) {
			padding-left: 40px;
		}
	}

	nav {
		@include clearfix;
		position: relative;

		button {
			position: absolute;
			right: 5px;
			top: -80px;
			width: 40px;
			height: 40px;
			border: 0;
			padding: 0;
			background: white;
			color: black;
			background: url(../img/icon-menu.png) center center no-repeat;

			@include respond-to( $menu-bp ) {
				display: none;
			}
		}

		ul.nav-menu {
			display: none;
			background: $grey;
			position: relative;
			z-index: 1000;
			text-align: center;
			box-shadow: inset 0px 15px 22px -10px rgba(100, 100, 100, 0.3);
			
			@include respond-to( $menu-bp ) {
				display: block;
				@include clearfix;
				padding-left: 7px;
			}

			li {
				box-shadow: inset 0px 15px 22px -10px rgba(100, 100, 100, 0.3);

				@include respond-to( $menu-bp ) {
					box-shadow: none;
					position: relative;
					display: inline-block;
				}

				a {
					display: block;
					@include font;
					padding: 15px 5px;
					font-size: 16px;
					line-height: 16px;
					color: white;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;

					@include respond-to( $menu-bp ) {
						display: inline-block;
						padding: 15px 8px;
					}

					@include respond-to( 1220px ) {
						padding: 15px 15px;
					}
				}

				&:hover, &.open {
					a {
						background: $teal;
					}

					ul.sub-menu {
						@include respond-to( $menu-bp ) {
							display: block;
						}
					}
				}

				ul.sub-menu {
					display: none;
					margin-bottom: 3px;

					@include respond-to( $menu-bp ) {
						position: absolute;
						left: 0;
						top: 46px;
						width: 230px;
						background: $teal;
						@include clearfix;
						text-align: left;
					}

					li {
						box-shadow: inset 0px 5px 12px -10px rgba(100, 100, 100, 0.69);
						display: block;

						a {
							padding: 7px 5px;
							font-size: .9em;
							display: block;

							@include respond-to( $menu-bp ) {
								text-align: left;
								padding: 8px 12px;

								&:hover {
									background: lighten( $teal, 2% );
								}
							}
						}
					}
				}
			}
		}
	}

	.search {
		position: relative;

		input[type=text] {
			display: block;
			top: 0;
			right: 35px;
			bottom: 0;
			left: 0;
			width: 100%;
			background: lighten( $grey, 30% );
			border: 0;
			padding: 0 15px;
			font-size: 15px;
			line-height: 35px;
		}

		input[type=submit] {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 35px;
			height: 35px;
			border: 0;
			background: darken( $grey, 10% ) url(../img/icon-search.png) center center no-repeat;
			text-indent: -400px;
			cursor: pointer;

			@include respond-to( 768px ) {
				right: -6px;
				top: -6px;
				bottom: -6px;
				width: 47px;
				height: 47px;
				border-radius: 50%;
				border: 6px solid white;
			}
		}

		@include respond-to( 768px ) {
			position: absolute;
			top: 55px;
			right: 80px;
		}

		@include respond-to( $menu-bp ) {
			right: 40px;
		}
	}


	.nwcua-logo {
		display: none;

		@include respond-to( 768px ) {
			display: block;
			position: absolute;
			top: -15px;
			right: 90px;
		}

		@include respond-to( $menu-bp ) {
			right: 50px;
		}

		a {
			opacity: .7;
			transition: opacity 400ms ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}


	@include respond-to( 768px ) {
		position: relative;

		.wrap {
			position: relative;
		}
	}
}

