

$icon-width: 70px;


.home-sections {
	background: rgba( $grey, .6 );
	padding-bottom: 20px;

	@include respond-to( $menu-bp ) {
		padding-bottom: 30px;
	}
	
	section {
		background: white;
		color: white;
		text-align: center;
		
		a {
			color: white;
			text-decoration: none;
		}

		@include respond-to( 768px ) {
			float: left;
			width: 33%;

			&.second {
				width: 34%;
			}
		}

		@include respond-to( $menu-bp-large ) {
			width: 400px;
		}

		.solid {
			padding: 20px;

			h3 {
				text-transform: uppercase;
				font-size: 1.4em;
			}

			@include respond-to( 768px ) {
				height: 280px;
			}

			@include respond-to( $menu-bp ) {
				height: 300px;
				font-size: 1.5em;
			}
		}

		.light {
			padding: 10px 20px 20px;

			h2 {
				@include font-bold;
				font-size: 45px;
				line-height: 45px;

				@include respond-to( $menu-bp ) {
					font-size: 55px;
					line-height: 55px;
				}

				@include respond-to( $menu-bp-large ) {
					font-size: 65px;
					line-height: 65px;
				}
			}

			p {
				padding: 0;
			}
			
			@include respond-to( 768px ) {
				height: 160px;
			}
		}
		
		@include respond-to( 768px ) {
			position: relative;
	
			&:before {
				content: '';
				position: absolute;
				top: -50px;
				left: 0;
				right: 0;
				height: 50px;
				background: rgba( $grey, .4 );
				z-index: 900;
			}
		}
	
		&.navy {
			.solid { background: $navy; }
			.solid:after, .solid:before { background: $navy; }
			.semi { background: rgba( $navy, .5 ); }
			.light { background: white; color: $navy; }
			&:before { background: rgba( $navy, .6 ); }
		}

		&.lime {
			.solid { background: $lime; }
			.semi { background: rgba( $lime, .6 ); }
			.light { background: white; color: $lime; }
			&:before { background: rgba( $lime, .6 ); }
		}

		&.teal {
			.solid { background: $teal; }
			.semi { background: rgba( $teal, .6 ); }
			.light { background: white; color: $teal; }
			&:before { background: rgba( $teal, .6 ); }
		}
	}
}

