
// responsive mixin
@mixin respond-to( $breakpoint ) {
    @media only screen and (min-width: $breakpoint) { @content; }
}


// Clearfix mixin
@mixin clearfix {
	zoom: 1;

	&:before, &:after { 
		content: ""; 
		display: table;
	}

	&, &:before, &:after { clear: both; }
}


.clearfix, .group {
	@include clearfix;
}


@mixin wrap( $max-width ) {
	max-width: $max-width;
	margin: 0 auto;
}


@mixin wrap-main {
	@include wrap( $menu-bp-large );
}


@mixin button {
	@include font-medium;
	opacity: 1;
	border: 0;
	padding: 10px 15px 12px;
	font-size: 17px;
	line-height: 20px;
	text-transform: uppercase;
	transition: opacity 400ms ease-in-out;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	text-align: center;

	@include respond-to( 1220px ) {
		font-size: 20px;
		line-height: 24px;
	}
}