

.impact-stat {
	padding: 20px 0;

	@include respond-to( $menu-bp ) {
		padding: 40px 0;
	}

	.half {
		padding: 0 20px;
	}

	.stat-number {
		font-size: 60px;
		line-height: 70px;
		text-align: center;
		@include font-bold;

		@include respond-to( 1024px ) {
			font-size: 95px;
			line-height: 95px;
		}
	}

	.stat-label {
		text-align: center;
	}

	.stat-content {
		@include respond-to( 768px ) {		
			border-left: 3px solid rgba( $grey, .2 );
			padding-left: 30px;
		}
	}
}

