

.content-work {
	color: darken( $grey, 10% );

	p {
		padding: 12px 0;
	}

	h1, h2, h3, h4, h5, h6 {
		padding: 12px 0 8px;
	}

	.content-wide {
		@include respond-to( 768px ) {
			padding: 20px 30px;
		}

		@include respond-to( $menu-bp ) {
			padding: 10px 30px 40px;
		}

		@include respond-to( $menu-bp-large ) {
			padding: 10px 40px 50px;
		}
	}
}


.work-title {
	.wrap {
		text-align: center;
		padding: 10px 0;
	}

	h2 {
		position: relative;
		display: inline;
		margin: 0 auto;
		text-transform: uppercase;
		font-size: 1.4em;

		@include respond-to( 768px ) {
			font-size: 1.6em;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -105px;
			width: 90px;
			height: 1px;
			background: rgba( white, .5 );
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: -105px;
			width: 90px;
			height: 1px;
			background: rgba( white, .5 );
		}
	}
}


.our-work {
	padding: 20px 0;
	text-align: center;

	article {
		text-align: center;
		padding-bottom: 20px;

		@include respond-to( 768px ) {
			float: none;
			display: inline-block;
		}
	}
	
	.content {
		padding: 10px 30px;
	}

	.buttons {
		a {
			display: inline-block;
			margin: 10px auto 0;
			padding: 7px 15px;
			text-decoration: none;
			text-transform: uppercase;
			opacity: 1;
			transition: opacity 400ms ease-in-out;
			@include font-medium;

			&:hover {
				color: white;
				opacity: .8;
			}

			&.orange {
				background: $orange;
				color: black;

				&:hover {
					color: black;
				}
			}
		}
	}

	.quiet {
		display: inline-block;
		color: $grey;
		margin-top: 5px;
	}
}
