

// set colors
$teal: #71CACB;
$river: #076E92;
$navy: #0E446D;
$orange: #FCB416;
$lime: #73A341;
$forest: #6E8E5F;
$green: #73A341;
$grey: #606060;
$grey-lignt: lighten( $grey, 30% );
$grey-dark: darken( $grey, 30% );

// link color
$link-color: $teal;


$menu-bp: 1024px;
$menu-bp-large: 1200px;


// text and background colors
@import "colors";


// mixin library
@import "mixins";

// font import and mixins
@import "fonts";

// css reset
@import "reset";

// base text and element styles
@import "base";


// header styles
@import "header";


// general styles
@import "title";
@import "showcase";
@import "content";
@import "accordion";
@import "matchup";
@import "work";
@import "stat";
@import "articles";


// sidebar styles
@import "sidebar";


// footer styles
@import "footer";


// home-specific styles
@import "home";


// partner styles
@import "partners";


// gravity forms overrides
@import "gravity";


// include magnific popup styles
@import "magnific";

